
.row {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.main-container {
  width: 800px;
  border: 1px solid black;
  margin: 0 auto;
  margin-top: 80px;
  .title {
    margin-left: 30px;
  }
  .inner-container {
    border: 1px solid #000;
    height: 300px;
    input{
      -webkit-appearance:none;
      -moz-appearance:none;
      height: 30px;
      border: 1px solid black;
    }
    input:focus{
      outline: none;
    }
    button {
      -webkit-appearance:none;
      -moz-appearance:none;
      height: -webkit-fill-available;
      border: 1px solid black;
      cursor: pointer;
    }
    .user-container {
      border: 1px solid #000;
      flex-basis: 30%;
      overflow-y: scroll;
      .username{
        border: 1px solid #000;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
      }
      .selected-user {
        background-color: lightblue;
      }
    }
    .hobby-container{
      border: 1px solid #000;
      flex-basis: 70%;
      overflow-y: scroll;
      .passion-col {
        border-bottom: 1px solid #000;
        height: 30px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .delete-icon {
        width: 14px;
        height: 14px;
        color: #fff;
        background-color: red;
        cursor: pointer;
        padding: 2px;
        border: 0;
        border-radius: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}

